<h1>Index Events</h1>

<% @events.each do |event| %>
  <p>Event's Description is: <%= event.description %><p>
<!-- 
  <p>Event's Title is: <%= event.title %><p>
  <p>Event Location is: <%= event.location %><p>
  <p>Event's Date is: <%= event.datetime %><p>-->
<% end %>