<h1>Index Events</h1>

<% @events.each do |event| %>
  <% unless event.title.nil? %>
    <p>Event's Title is: <%= event.title %></p>
  <% else %>
    <p>Event's Description is: <%= event.description %></p>
  <% end %>
<% end %>