<%= form_with model: @event, method: :post do |form| %>
  
  <ul class="mt-5 form-group">
    <label><h2>Description of your new Event! </h2></label>
    <%= form.text_area :description, rows: 10, class: "form-control", cols: 100, placeholder: "Event description here" %>
  </ul>

  <ul class="mt-5 form-group">
    <label>Date</label>
    <%= form.date_field :datetime, class: "form-control", placeholder: "Event date here", :value => Time.now.strftime('%Y-%m-%d') %>
  </ul>
  
  <ul>
    <%= form.submit "Create an event", class: "btn btn-lg btn-primary" %>
  </ul>
  <br>
<% end %>
